@import url("https://fonts.googleapis.com/css2?family=Geist:wght@500&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";
@import "@fontsource-variable/space-grotesk";

body {
  background-color: #050505;
  color: white;
  margin: 0;
  font-family: "Space Grotesk Variable", sans-serif;
}

.ibm-plex-mono {
  font-family: "IBM Plex Mono", monospace;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-gray {
  color: rgb(153, 153, 153);
}

.text-gray {
  color: rgb(153, 153, 153);
}
